@page
@model WebApi.Pages.Documents.AboutModel
@{
    ViewData["Title"] = "About repositority";
}
<h2>@ViewData["Title"]</h2>
<div class="panel panel-default">
    <div class="panel-body"><h4>Name: @Html.DisplayFor(model => model.RepoDetails[0].Name)</h4></div>
    <div class="panel-heading">
        <div class="panel-body"><p>Created: @Html.DisplayFor(model => model.RepoDetails[0].Created_at)</p></div>
        <div class="panel-body"><p>Last push: @Html.DisplayFor(model => model.RepoDetails[0].Pushed_at)</p></div>
    </div>
</div>
